<div class="row main_text" ng-init="init()">
	<div class="col-sm-6">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<rd-widget>
				<rd-widget-body>
					<div class="title">1</div>
					<div class="comment">Numbe of Searches</div>
					<hr>
					<!--<div class="row dash_wid">
					<div class="col-xs-5 ">
					Inactive <br>
					3 
					</div>
					<div class="col-xs-7">
					Replaced <br>
					4
					</div>
					</div> -->
				
				</rd-widget-body>
			</rd-widget>

		</div>
		<div class="col-lg-6 col-md-6 col-xs-12">
			<rd-widget>
				<rd-widget-body>
					<div class="title">3</div>
					<div class="comment">Institutions</div>
					<hr>
					<!--<div class="row dash_wid">
					<div class="col-xs-5">
					Inactive <br>
					6
					</div>
					<div class="col-xs-7">
					Replaced <br>
					6
					</div>
					</div> -->
				</rd-widget-body>
			</rd-widget>

		</div> <!-- end of panels-->
		<br><br>
		<div class="panel panel-default">
			<div class="panel-heading">
				Report
			</div>
			<div class="panel-body">
			1
			</div>
		</div>

	</div> <!-- end of col-sm-6 -->

	<div class="col-lg-6">
		<div class="panel">
            <div class="panel-heading green_">
		     	<ol class="breadcrumb">
		           <li ng-class="{active:mine==1}"><a href data-toggle="tab" ng-click="mine=1">Searches By Week</a></li>
		           <li ng-class="{active:mine==2}"><a href data-toggle="tab" ng-click="mine=2">Searches By Month</a></li>
		        </ol>
        		<div class="clearfix"></div>
            </div>

            <div class="panel-body">
	            <div ng-show="mine==1">
		            <div class="col-md-12">
		            	<!--<canvas id="line" class="chart chart-line" chart-data="data"
		  chart-labels="labels" chart-legend="true" chart-series="series" chart-colours="['#FF2321', '#B8BE1C']" chart-click="onClick" style="width:100; height:100%">
		   				</canvas> 
		   				<div class="clearfix"></div> -->
		   				<div
donut-chart
donut-data='[
    {label: "Week 1", value: 12},
    {label: "Week 2",value: 30},
    {label: "Week 3", value: 20}, 
    {label: "Week 4", value: 40}

]'
donut-colors='["#31C0BE","#c7254e","#98a0d3", "#444"]'
donut-formatter='"number"'>
</div>
		            </div>
		            
	            </div>
           		<div ng-show="mine==2">
            		<div class="col-md-12">
            			<canvas id="line2" class="chart chart-line" chart-data="data2"
  chart-labels="labels" chart-legend="true" chart-series="series" chart-colours="['#FF2321', '#B8BE1C']" chart-click="onClick" >
   						</canvas>
            		</div>
            	</div>
            </div>
        </div>
	</div>

