 <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            NAB
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list" ng-class="{selected:isSel(0)}">
          <a href="#/app/dashboard" ng-click="setSel(0)">Dashboard </a>
        </li>
        <li class="sidebar-list" ng-class="{selected:isSel(1)}">
          <a href="#/app/search" ng-click="setSel(1)">Search</span></a>
        </li>
        <li class="sidebar-list" ng-class="{selected:isSel(2)}">
          <a href="#/app/institution" ng-click="setSel(2)">Institutions</span></a>
        </li>
        <li class="sidebar-list" ng-class="{selected:isSel(3)}">
          <a href="#/app/reports" ng-click="setSel(3)">Reports</span></a>
        </li>
        <li class="sidebar-list" ng-class="{selected:isSel(4)}">
          <a href="#/app/setup" ng-click="setSet(4)">Setup</a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-3">
          <a href ng-click="changePassword()">
            {{loggedUser}}
          </a>
        </div>
        <div class="col-xs-9">
          <a href ng-click="logout()">
            Logout
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
            <img src="images/coat.jpg" style="height:55px">
            </div>
            <div class="meta">
              <div class="page"> 
                National Accreditation Board - Ghana
              </div>
              <div class="breadcrumb-links">
                 <span style="font-size:1.2em">{{headingData}} </span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div ui-view="contentArea" ></div>

        </div><!-- End Page Content -->
      </div><!-- End Content Wrapper -->
    </div><!-- End Page Wrapper -->

     <script type="text/ng-template" id="passwordModal.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="closepass()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Password Change</h3>
        </div>
        <div class="modal-body main_text">
          <div class="form-group">
            <label>Old Password</label>
            <input type="password" class="form-control" ng-model="oldpassword">
          </div> 
          <div class="form-group">
            <label>New Password</label>
            <input type="password" class="form-control" ng-model="newpassword">
          </div>  
        <button class="btn btn-primary" ng-click="changePass()">Change</button>      
                
        </div> 

    </script>
